<div class="[ post-list ] [ wrapper flow ]">
  {% for post in posts %}
    {% set currentPost = post.data.post %}
    {# {% set author = helpers.filterCollectionByKey(collections.people, post.data.authorKey) %} #}

    <div class="post-list__item">
      <div class="c-block__media">
        <a href={{ post.url }} class="c-block__media-link">
          <img src="{% croppedUrlFor currentPost.mainImage, 600, 600 %}" alt="{{ currentPost.mainImage.alt }}">
        </a>
      </div>

      <div class="content">
        {% if showTag %}
        <p class="tag link-secondary">
          <a href="/categories/{{ currentPost.categories[0].title | slug }}/">{{ currentPost.categories[0].title }}</a>
        </p>
        {% endif %} 
        <h3 class="heading link-secondary">
          <a href={{ post.url | url }}>{{ currentPost.title }}</a>
        </h3>
        <p class="description">{{ currentPost.body | excerpt  }}</p>

        <div class="post-meta">
          <p class="author"> 
            {# <a href="/authors/{{currentPost.authors[0].slug.current}}"> #}
            {{currentPost.authors[0].name}}
            {# </a>  #}
          </p>
          <time class="date" datetime="{{ currentPost.publishedAt | w3DateFilter }}">{{ currentPost.publishedAt | mediumDateFilter }}</time>
        </div>
        <div class="hr"></div>
      </div>
    </div>
  {% endfor %}
</div>