<article class="read-more">
  <div class="[ wrapper ] [ flow ]">
    <div>
      <h2>Read this next</h2>
      <hr />
    </div>

    <div class="auto-grid">
      {% for post in postListItems %}

      {% set author = helpers.filterCollectionByKey(collections.people, post.data.authorKey) %}

        <a href={{ post.url }} class="[ read-more-post ] [ link-secondary ]">
          <h4 class="heading">{{ post.data.title }}</h4>
          <p class="read-more-post__author">By: {{ author.data.name }}</p>
        </a> 
      {% endfor %}
    </div>
  </div>
</article>