:root {
  --primary-glare: #ffd931;
  --primary: #ffd204;
  --primary-shade: #ebc105;
  --secondary-glare: #b8272f;
  --secondary: #9b1e25;
  --secondary-shade: #86181e;
  --tertiary: #ed0505;

  --selection: #b3d4fc;

  --gray-50: #F9FAFB;
  --gray-100: #F3F4F6;
  --gray-200: #E5E7EB;
  --gray-300: #D1D5DB;
  --gray-400: #9CA3AF;
  --gray-500: #6B7280;
  --gray-600: #4B5563;
  --gray-700: #374151;
  --gray-800: #1F2937;
  --gray-900: #111827;

  --gray-blue: #26445f;
}

:root {
  --step--5: clamp(0.40rem, 0.37rem + 0.17vw, 0.49rem);
  --step--4: clamp(0.48rem, 0.43rem + 0.26vw, 0.61rem);
  --step--3: clamp(0.58rem, 0.50rem + 0.37vw, 0.77rem);
  --step--2: clamp(0.69rem, 0.59rem + 0.52vw, 0.96rem);
  --step--1: clamp(0.83rem, 0.69rem + 0.72vw, 1.20rem);
  --step-0: clamp(1.00rem, 0.80rem + 0.98vw, 1.50rem);
  --step-1: clamp(1.20rem, 0.94rem + 1.32vw, 1.88rem);
  --step-2: clamp(1.44rem, 1.09rem + 1.76vw, 2.34rem);
  --step-3: clamp(1.73rem, 1.26rem + 2.35vw, 2.93rem);
  --step-4: clamp(2.07rem, 1.45rem + 3.10vw, 3.66rem);
  --step-5: clamp(2.49rem, 1.67rem + 4.08vw, 4.58rem);

  --font-sans: "HelveticaNeue", Arial, Helvetica, Geneva, sans-serif;
  --font-serif: "Guardian Egyptian Web", Georgia, serif;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  color: var(--gray-800);
  background: var(--gray-50);
  background: #F0F0F0;
  font: 400 var(--step--1) / 1.5 'source_serif', var(--font-serif);
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  line-height: 1.2;
  margin: 0.5em 0;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-2);
}

::selection {
  background: var(--selection);
  text-shadow: none;
}