.hero {
  display: grid;
  grid-template-areas: "hero";
  place-items: center;
  height: var(--hero-height, 50vh);
  max-height: 600px;
  background-color: var(--hero-background-color);
  overflow: hidden;

  > * {
    grid-area: hero;
  }

  .hero__img {
    object-fit: cover;
    height: var(--hero-height, 50vh);
    // Chrome no longer preventing growing beyond
    // the header height with just the following
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .hero__content {
    z-index: 1;
    display: grid;
    place-items: center;
    text-align: center;
    color: #fff;
    min-width: 30ch;
    padding: 1rem;
    background: transparent;

    img {
      width: 20rem;
    }

    p {
      font-family: var(--font-sans);
      font-size: var(--step--2);
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-top: var(--step--2);
    }

    .hero-post-item {
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      list-style-type: none;
      font-weight: bolder;
      font-size: var(--step-1);
      color: #fff;
      letter-spacing: 1px;
      text-shadow: 2px 2px 0 rgba(155,30,37,0.7);
      
      &__link {
        color: var(--primary);
        text-decoration: none;
      }
    }
  }

  @media screen and (min-width: 900px) {
    --height: 90vh;
  }
}