.post-list {

  &__item {
    display: flex;

    .image {
      // width: 12rem;
      margin-right: var(--step-0);

      object-fit: cover;
      width: 14rem;
      // height: var(--height, 90vh);
      // Chrome no longer preventing growing beyond
      // the header height with just the following
      // height: 100%;
      // width: 100%;
      // z-index: -1;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: var(--font-sans);
      max-width: 45ch;
  
      .hr {
        --hr-color: var(--gray-300);
        --hr-height: .3px;
        --hr-width: 16rem;
        overflow: hidden;
      }
    }
    
    &__item {
      font-family: var(--font-sans);
      max-width: 45ch;
    }
  
    .tag {
      font-size: var(--step--3);
      font-weight: bold;
      text-transform: uppercase;
      color: var(--gray-500);
    }
  
    .heading {
      font-family: var(--font-serif);
      margin: 0;
      margin-bottom: var(--step--5);
    }
  
    .description {
      font-size: var(--step--2);
      color: var(--gray-600);
      margin-bottom: var(--step--2);
    }
  
    .post-meta {
      display: flex;
      font-size: var(--step--3);
  
      .author {
        font-weight: 600;
        margin-right: var(--step--1);
      }
  
      .date {
        color: var(--gray-500);
      }
    }
  }
}

img {
  vertical-align: middle;
  max-width: 100% !important;
  height: auto;
  border: 0;
}

.c-block__media a {
  display: block;
}

.c-block__media {
  max-width: clamp(90px, 190px, 190px);

  margin-bottom: 0;
  margin-right: var(--step-0);
  position: relative;
  overflow: hidden;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
