<footer role="content-info" class="site-foot">
  <div class="[ wrapper ] [ flow ] [  ]">
    <div class="[ site-foot__inner ] [ auto-grid ]">
      <article class="[ flow ]">
        <h3 class="heading">Our Mission</h3>
        <p>To inspire active participation in the world outside through award-winning coverage of the sports, people,
          places, adventure, discoveries, health and fitness, gear and apparel, trends and events that make up an active
          lifestyle.</p>
      </article> 
      <article class="[ flow ]">
        <h3 class="heading">Newsletter Sign Up</h3>
        <p>Subscribe to our What You Missed newsletter for the top headlines from the outdoor world, in your inbox six
          days a week. Looking for something else? Check out <a href="#" class="link">our entire suite of free
            newsletters here</a>.</p>  
        <div class="[ site-foot__newsletter ] [ flow ]">
          <input type="text" placeholder="Enter email address" />
          <button type="submit" class="[ button ]">Sign Up</button>
          <small>This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy"
              class="link">Privacy Policy</a> and <a href="https://policies.google.com/terms" class="link">Terms of
              Service</a> apply.</small>
        </div>
      </article>
      <article class="[ flow ]">
        <h3 class="heading">Additional Links</h3>
        <div class="[ site-foot-links ] [ auto-grid ]">
          <div class="site-foot-links__item">
            <a href="#">About</a>
            <a href="#">Media Kit</a>
            <a href="#">Careers</a>
            <a href="#">Subscribers</a>
            <a href="#">RSS</a>
            <a href="#">Feedback</a>
            <a href="#">Newsletters</a>
          </div>
          <div class="site-foot-links__item">
            <a href="#">Sitemap</a>
            <a href="#">About Our Ads</a>
            <a href="#">Terms and Conditions</a>
            <a href="#">Do Not Sell My Personal Information</a>
            <a href="#">Privacy Policy</a>
          </div>
        </div>
      </article>
    </div> 
    <div class="site-foot__credits">
      <img src="/images/outside.svg" alt="outside logo" class="site-logo" />
      <div class="hr"></div>
      <p class="site-foot-copyright">&copy; {{ helpers.currentYear() }} Outside Integrated Media, LLC</p>
    </div>
  </div>
</footer> 