:root {
  --prose-bottom-gap: 0.5em;
  --prose-top-gap: 0.5em;
}

.additive-spacing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.additive-spacing > * {
  margin-bottom: var(--prose-bottom-gap);
  margin-top: var(--prose-top-gap);
}

.additive-spacing > h1,
.additive-spacing > h2,
.additive-spacing > h3,
.additive-spacing > h4 {
  --prose-bottom-gap: 0.25em;
  --prose-top-gap: 0.75em;
}

.additive-spacing > :first-child {
  margin-top: 0;
}

.additive-spacing > :last-child {
  margin-bottom: 0;
}

.additive-spacing > hr,
.additive-spacing > hr:last-child {
  margin: var(--space-2) 0;
}