{% extends "layouts/base.njk" %}

{% set posts = category.posts %}

{% block content %}
  <h1>{{ category.title }}</h1>

  {% if category.description %}
    {{ category.description | markdownify | safe }}
  {% endif %}

  <ul class="posts">
  {% for post in category.posts | reverse %}
  <li class="postlist-item">
    <img
      src="{% croppedUrlFor post.mainImage, 600, 600 %}"
      alt="{{ post.mainImage.alt }}"
    />
    <div class="post-content">
      <h3><a href="/posts/{{post.slug.current | url }}">{{post.title}}</a></h3>
      <time class="postlist-date" datetime="{{ post.publishedAt }}"
        >{{ post.publishedAt|readableDate }}</time
      >
    </div>
    {% for category in post.categories %}
    <div class="post-meta">
      <a href="/categories/{{ category.title | slug }}">{{ category.title }}</a>
    </div>
    {% endfor %}
  </li>
  {% endfor %}
</ul>

  <p>
    <a href="{{ '/' | url }}">← Home</a>
  </p>
{% endblock %}