{% extends "layouts/base.njk" %} 

{% block content %}
<article>
  <h1>{{ post.title }}</h1>

  <img src="{%  imageUrlFor post.mainImage, 900  %}" alt="{{ post.mainImage.alt }}">

  <p> 
    Written by 
    {% for author in post.authors %}
      <a href="/authors/{{author.slug.current}}">{{author.name}}</a> 
    {% endfor %}  
  </p>
  {{ post.body | markdownify | safe }}

  <ul>
    {% for category in post.categories %}
      <li>{{ category.title }}</li>
    {% endfor %}
  </ul>

  <p><a href="{{ '/' | url }}">← Home</a></p>
</article>
{% endblock %}