{% extends "layouts/base.njk" %} 

{% block content %}
<article class="[ post ] [ flow ]">
  <div class="wrapper">
    <h1 class="post__heading">{{ post.title }}</h1>
  </div>
   
  <div class="hero">
    <img class="hero-image" src="{%  imageUrlFor post.mainImage, 950  %}" alt="{{ post.mainImage.alt }}">
  </div>
 
  <div class="wrap flow">
    <p> 
      Written by 
      {% for author in post.authors %}
        <a href="/authors/{{author.slug.current}}">{{author.name}}</a> 
      {% endfor %}  
    </p>

    <div class="[ post-content ] [ has-dropcap ] [ flow ]">
      {{ post.body | markdownify | safe }}
    </div>
 
    <footer class="post__footer">
      <div class="post-tags">
        {% if post.categories %}  
        <p class="post-tags__heading">Filed To:</p>
        <ul class="post-tags__list">
          {% for category in post.categories %} 
          <li class="post-tags__list-item"> 
            <a class="link" href="/categories/{{ category.title | slug }}">{{ category.title }}</a>
          </li> 
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <p class="attribution">Lead Photo: {{ heroImage.attribution }}</p>
    </footer>
  </div>
</article>
{% endblock %}